/**********************/
/**   MAIN STYLING   **/
/**********************/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Scope+One');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
body {
  font-family: 'Scope One', serif;
}
h1, h2, h3, h4, h5, h6, p {
  text-shadow: 1px 1px #484848;
}
img {
  max-width: 100%;
  height: auto;
}

/**********************/
/** HOMEPAGE STYLING **/
/**********************/
body {
  background-color: #9C0FFB;
  color: #b6b6b6;
}
#yetti-wrap {
  display: inline-flex;
  display: -webkit-inline-flex; /* Safari */
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* Set Logo and Navigation Side-by-Side:  */
#logo-wrap {
  display: inline-block;
  align-self: center;
}
#main-menu {
  display: inline-block;
  margin-bottom: 100px;
}
/* Stylize Logo Icon  */
#logo-wrap > img:first-child {
  margin-bottom: 30px;
}
/* Position Tree Icon  */
#logo-wrap > img:last-child {

}
/* Stylize Primary and Secondary Navigation  */
/* Primary Nav  */
#main-menu > ul:first-child {
  font-family: 'Bungee Shade', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 6.5em;
  list-style: none;
  color: #8E0BE6;
  text-shadow: 1px 2px 1px #484848;
  flex-grow: 2;
  margin-top: 10%;
  margin-bottom: 10%;
}
#main-menu > ul:first-child > li:hover {
  color: #D9FF00;
  cursor: pointer;
}
/* Hide mobile only nav items  */
.mobile-only {
  display: none;
}
/* Secondary Nav  */
#main-menu > ul:nth-child(even) {
  font-family: 'Pacifico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
  list-style: none;
  text-shadow: 1px 1px 0px #484848;
  color: #7B0FC5;
  width: 80%;
  margin-left: auto;
  margin-right: 3em;
}
/* Secondary Nav: Set Side-by-Side  */
#main-menu > ul:nth-child(even) > li {
  display: inline;
  justify-items: right;
  padding: 3px 30px;
  background-color: #8E0BE6;
  border-radius: 15px;
  text-align: center;
  margin-right: .2em;
  box-shadow: 1px 2px 2px #444;
  border: 5px solid #8E0BE6;
  -webkit-box-shadow: 1px 2px 2px #444;
  -moz-box-shadow: 1px 2px 2px #444;
}
#main-menu > ul:nth-child(even) > li:hover {
  color: #D9FF00;
  border: 5px solid #D9FF00;
  cursor: pointer;
}
footer {
  width: 100%;
}
/* Position Moon Icon  */
footer > div > img:first-child {
  float: right;
  padding: 57px;
}
/* Center Footer crafted with Care text  */
footer > p {
  text-align: center;
  clear: right; /* keeps footer beneath floated moon icon  */
  padding: 20px;
}

footer > p > span#globe {
  position: relative;
  top: 1px;
}

/**********************/
/**   MEDIA QUERIES  **/
/**********************/
@media only screen and (min-width: 1300px) and (max-width: 2000px) {
  /* Shrink main menu font size */
  #main-menu>ul:first-child {
    font-size: 8vw;
    margin-bottom: 5%;
  }
  #main-menu>ul:nth-child(2n) {
    font-size: 4.5em;
  }
}
@media only screen and (max-width: 644px) {
  /* Show mobile only nav items  */
  .mobile-only {
    display: block;
  }
  /* Shrink main menu font size */
  #main-menu>ul:first-child {
    font-size: 12vw;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    background-color: #8834ba;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 1px 2px 5px #484848;
    -webkit-box-shadow: 1px 2px 5px #484848;
    -moz-box-shadow: 1px 2px 5px #484848;
  }
  #main-menu>ul>li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Colorize mobile menu */
  #main-menu>ul>li:nth-child(even) {
    color: #00E4FF;
  }
  #main-menu>ul>li:nth-child(odd) {
    color: #D9FF00;
  }
  /* Mobile Hover Effects  */
  #main-menu>ul>li:hover {
    color: whitesmoke !important;
    text-shadow: 0px 0px 4px #A73BF0 !important;
  }
  /* Adjust font size of buttons */
  #main-menu>ul:nth-child(2n) {
    font-size: 10vw;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Stack secondary menu  */
  #main-menu>ul:nth-child(2n)>li {
    display: none;
  }
  /* Decrease margin beneath menu */
  #main-menu {
    display: inline-block;
    margin-bottom: 20px;
  }
  /* Decrease margin beneath logo  */
  #logo-wrap>img:first-child {
    margin-bottom: 20px;
  }
}